/* ============= basic setup =============== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root{
    --pm-color:#070733;
    --sd-color:#c81b39;
    --pm-text-color:#C6DAF1;

    --container-w-lg:80%;
    --container-w-md:90%;
    --container-w-sm:90%;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    display: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background:url(./assets/nnnoise.svg) ;
}

.container{
    width: var(--container-w-lg);
    margin: 0 auto;
    overflow: hidden;
}

.red_text{
    color: var(--sd-color);
}

section{
    height: 100vh;
    padding-top:8rem ;
}

section>h2{
    color: var(--pm-text-color);
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3rem;
}

/* X ========== basic setup =============== X */

@media screen and (max-width:1020px) {
    .container{
        width: var(--container-w-md);        
    }

    section{
        height: 200vh;
        
    }
    
}

@media screen and (max-width:600px) {
    .container{
        width: var(--container-w-md);        
    }
    
}
